body{
    background-color: rgb(41, 41, 41);
}
.intro{
    display:flex;
    flex-direction:column;
    align-items: center;
    row-gap:20px;

}
.profile-box{
    width: 15vw;
}
.image{
    width:inherit;
}
.hello{
    font-size:20px;
    font-weight:bolder;
    color:white;
}
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg);
    }

    10% {
        transform: rotate(-10.0deg);
    }

    20% {
        transform: rotate(12.0deg);
    }

    30% {
        transform: rotate(-10.0deg);
    }

    40% {
        transform: rotate(9.0deg);
    }

    50% {
        transform: rotate(0.0deg);
    }

    100% {
        transform: rotate(0.0deg);
    }
}
    a {
        text-decoration: none;
    }
.about-me-social-links{
    display:flex;
    flex-direction: row;  
    align-items:stretch;
}
.everything{
    color:white;
    font-style:italic;
    font-size:25px;
    width: 50vw;
    padding-left:15px;
}
.learn{
    margin-top: 8px;
}
.interest{
    margin-top: 8px;
}
.social-links{
    padding-left:40px;
    width:50vh;
    font-size: 25px;
}
.insta-img,.codeforces,.github,.linkedin{
    width:3vw;
    padding-left:3px;
    margin-left:8px;

}
.codeforces{
    border-radius: 50%;
}
.github{
    width:5vw;
    border-radius:60px;
}